@font-face {
    font-family: ms;
    src: url("fonts/ms.otf");
}

@font-face {
    font-family: cf;
    src: url("fonts/cf.ttf");
}

@font-face {
    font-family: lm54;
    src: url("fonts/lm54.ttf");
}

@font-face {
    font-family: qh;
    src: url("fonts/qh.ttf");
}

@font-face {
    font-family: al;
    src: url("fonts/aladdin.ttf");
}

@font-face {
    font-family: ms;
    src: url("fonts/ms.otf");
}

@font-face {
    font-family: esp;
    src: url("fonts/esp.otf");
}